@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Poject-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

body {
  background-color: #FFF5ED;
}

.container {
  width: 100%;
  max-width: 1416px;
  margin: auto;
  padding: 0 32px;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 12px;
  }
}

header .logo-menu-text {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1001;
}
header .logo-img {
  width: 20%;
}
@media (min-width: 1024px) {
  header .logo-img {
    width: 10%;
  }
}
header .logo-img img {
  width: 100%;
}
header .menu-toggle-btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  z-index: 1001;
}
header .menu-toggle-btn span {
  width: 36px; /* Adjusted width */
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: 0.4s;
}
header .menu-toggle-btn.change span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
header .menu-toggle-btn.change span:nth-child(2) {
  transform: rotate(45deg) translate(-5px, -6px);
}
header .header-text {
  width: 25%;
  text-align: center;
  z-index: 1001;
}
@media (min-width: 1024px) {
  header .header-text {
    width: 10%;
  }
}
header .header-text a {
  font-family: Arial, sans-serif;
  font-size: 10px;
}
header .header-text p {
  line-height: 1.2;
  font-size: 10px;
}
header .menu_box {
  display: none;
  position: fixed;
  top: 10%;
  left: -3%;
  width: 100%;
  height: 100%;
  background-color: #FFF5ED;
  z-index: 1000;
  text-align: center;
  padding-top: 100px;
  transition: opacity 0.5s ease;
}
@media (min-width: 1024px) {
  header .menu_box {
    left: 0;
  }
}
header .menu_box.active {
  display: block;
}
header .mainmenu {
  list-style: none;
  padding: 0;
}
header .gnb li {
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  header .gnb li {
    margin-bottom: 60px;
  }
}
header .gnb a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-family: "Alegreya";
  font-weight: 500;
}
@media (min-width: 1024px) {
  header .gnb a {
    font-size: 34px;
  }
}

main #intro {
  width: 100%;
  margin-top: 200px;
  height: 100vh;
  position: relative;
}
main #intro .star1, main #intro .star2, main #intro .star3 {
  position: absolute;
}
main #intro .star1 {
  top: 13%;
  left: 10%;
}
main #intro .star1 img {
  width: 25%;
}
@media (min-width: 1024px) {
  main #intro .star1 {
    left: 35%;
  }
}
main #intro .star2 {
  z-index: 8;
  top: 22%;
  left: 79%;
}
main #intro .star2 img {
  width: 40%;
}
@media (min-width: 1024px) {
  main #intro .star2 {
    left: 65%;
  }
}
main #intro .star3 {
  top: -5%;
  left: 37%;
}
main #intro .star3 img {
  width: 50%;
}
@media (min-width: 1024px) {
  main #intro .star3 {
    left: 45%;
  }
}
main #intro .contact-circle {
  position: absolute;
  top: -5%;
  left: 10%;
  z-index: 5;
  cursor: pointer;
}
@media (min-width: 1024px) {
  main #intro .contact-circle {
    left: 36%;
  }
}
main #intro .contact-circle text textPath {
  font-family: "Alegreya";
  font-weight: lighter;
  font-size: 14px;
}
main #intro .contact-circle img {
  width: 70%;
}
main #intro .portfolio-circle {
  position: absolute;
  top: 3%;
  left: 73%;
  z-index: 5;
  cursor: pointer;
}
@media (min-width: 1024px) {
  main #intro .portfolio-circle {
    left: 58%;
    top: 6%;
  }
}
main #intro .portfolio-circle text textPath {
  font-family: "Alegreya";
  font-weight: lighter;
  font-size: 14px;
}
main #intro .portfolio-circle img {
  width: 70%;
}
main #intro .aboutme-circle {
  position: absolute;
  top: 22%;
  z-index: 3;
  cursor: pointer;
}
@media (min-width: 1024px) {
  main #intro .aboutme-circle {
    left: 36%;
  }
}
main #intro .aboutme-circle text textPath {
  font-family: "Alegreya";
  font-weight: lighter;
  font-size: 14px;
}
main #intro .aboutme-circle img {
  width: 70%;
}
main #intro .skill-circle {
  position: absolute;
  z-index: 5;
  top: 25%;
  left: 65%;
  cursor: pointer;
}
@media (min-width: 1024px) {
  main #intro .skill-circle {
    left: 57%;
    top: 28%;
  }
}
main #intro .skill-circle text textPath {
  font-family: "Alegreya";
  font-weight: lighter;
  font-size: 14px;
}
main #intro .skill-circle img {
  width: 70%;
}
main #intro .blue_gradient img {
  position: absolute;
  width: 30%;
  top: 35%;
  left: 18%;
  z-index: 1;
}
@media (min-width: 1024px) {
  main #intro .blue_gradient img {
    left: 36%;
    width: 10%;
  }
}
main #intro .gradient {
  position: relative;
  z-index: 1;
}
main #intro .gradient .gradient-red {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 10px;
}
main #intro .gradient .gradient-red img {
  width: 230px;
}
@media (min-width: 1024px) {
  main #intro .gradient .gradient-red img {
    width: 280px;
  }
}
@media (min-width: 1024px) {
  main #intro .gradient .gradient-red {
    left: 34%;
    top: -30px;
  }
}
main #intro .gradient .gradient-orange {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 2;
}
main #intro .gradient .gradient-orange img {
  width: 250px;
}
@media (min-width: 1024px) {
  main #intro .gradient .gradient-orange img {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  main #intro .gradient .gradient-orange {
    left: 40%;
    top: 20px;
  }
}
main #intro .gradient .gradient-yellow {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 30%;
}
main #intro .gradient .gradient-yellow img {
  width: 200px;
}
@media (min-width: 1024px) {
  main #intro .gradient .gradient-yellow img {
    width: 230px;
  }
}
@media (min-width: 1024px) {
  main #intro .gradient .gradient-yellow {
    top: 110px;
    left: 47%;
  }
}
main #intro .intro-txt {
  position: absolute;
  top: 5%;
  left: 25%;
  z-index: 5;
}
@media (min-width: 1024px) {
  main #intro .intro-txt {
    left: 39%;
  }
}
main #intro .intro-txt h1 {
  text-align: center;
  line-height: 1.1;
  width: 200px;
  z-index: 5;
  font-family: "Alegreya";
  font-weight: lighter;
}
@media (min-width: 1024px) {
  main #intro .intro-txt h1 {
    font-size: 64px;
    text-align: center;
    width: 340px;
  }
}
main #intro .intro-txt #resume {
  margin-left: 30%;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Alegreya";
  font-weight: lighter;
}
@media (min-width: 1024px) {
  main #intro .intro-txt #resume {
    margin-left: 38%;
  }
}
main #intro svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #intro text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  fill: #000;
}
main #intro .gradient_orange {
  position: absolute;
  top: 67%;
  left: 65%;
}
main #intro .gradient_orange img {
  width: 85%;
}
main #aboutme {
  height: 70vh;
  background-image: url(../images/aboutme_bg.png);
  background-size: cover;
  background-position: bottom 100px;
  width: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  main #aboutme {
    background-image: url(../images/about_bg_pc.png);
    height: 80vh;
  }
}
main #aboutme .aboutme_txt-img {
  position: absolute;
  text-align: center;
  top: -36%;
  left: 0;
  z-index: 3;
}
@media (min-width: 1024px) {
  main #aboutme .aboutme_txt-img {
    left: 10%;
    top: -40%;
  }
}
main #aboutme .aboutme_txt-img h2 {
  font-family: "Alegreya";
  font-weight: 400;
}
main #aboutme .aboutme_txt-img .pic {
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  main #aboutme .aboutme_txt-img .pic {
    width: 30%;
    margin: auto;
  }
}
main #aboutme .aboutme_txt-img .about-txt strong {
  color: white;
  font-family: "Pretendard-Regular";
  padding-top: 20px;
  font-size: 20px;
}
main #aboutme .aboutme_txt-img .about-txt p {
  color: white;
  font-family: "Pretendard-Light";
  font-size: 16px;
  margin-top: 20px;
}
main #aboutme .aboutme-star {
  position: relative;
  z-index: 4;
}
main #aboutme .aboutme-star .about-star1 {
  position: absolute;
  left: 90%;
  top: 70px;
}
main #aboutme .aboutme-star .about-star1 img {
  width: 40%;
}
main #aboutme .aboutme-star .about-star2 {
  position: absolute;
  top: -140px;
  left: 14%;
}
main #aboutme .aboutme-star .about-star2 img {
  width: 40%;
}
main #aboutme .aboutme-star .about-star3 {
  position: absolute;
  top: 200px;
  left: 10%;
}
main #aboutme .aboutme-star .about-star3 img {
  width: 30%;
}
main #aboutme .aboutme-button {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: flex;
  top: 93%;
}
@media (min-width: 1024px) {
  main #aboutme .aboutme-button {
    height: 10%;
  }
}
main #aboutme .aboutme-button #prof {
  width: 50%;
  background: #FFF5ED;
  cursor: pointer;
  border: 2px solid black;
  border-left: 0;
}
main #aboutme .aboutme-button #prof p {
  font-size: 16px;
}
main #aboutme .aboutme-button #suit {
  width: 50%;
  background: #FFF5ED;
  cursor: pointer;
  border: 2px solid black;
  border-right: 0;
}
main #aboutme .aboutme-button #suit p {
  font-size: 16px;
}
main #skill {
  width: 100%;
  margin-top: 150px;
  position: relative;
  /* 나머지 항목도 같은 방식으로 추가 */
  /* 나머지 항목도 같은 방식으로 추가 */
}
@media (min-width: 1024px) {
  main #skill {
    margin-top: 200px;
  }
}
main #skill .skill-bg {
  position: absolute;
  z-index: 1;
  top: -10%;
  width: 100%;
  opacity: 0.5;
}
@media (min-width: 1024px) {
  main #skill .skill-bg {
    display: none;
  }
}
main #skill .skill-bg img {
  width: 100%;
  height: 1100px;
}
main #skill .skill-bg-pc {
  display: none;
}
@media (min-width: 1024px) {
  main #skill .skill-bg-pc {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
  }
  main #skill .skill-bg-pc img {
    width: 100%;
    height: 1100px;
  }
}
main #skill h2 {
  font-family: "Alegreya";
  font-weight: 400;
  margin-bottom: 30px;
  position: relative;
  z-index: 4;
}
main #skill .mo-skill-box {
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 1024px) {
  main #skill .mo-skill-box {
    display: none;
  }
}
main #skill .mo-skill-box div {
  width: 50%;
}
main #skill .mo-skill-box div img {
  margin: 0 auto;
  width: 30%;
}
main #skill .mo-skill-box div p {
  display: none;
}
main #skill .progress-bar {
  margin: auto;
  width: 100%;
  height: 7px; /* 직사각형 박스의 높이 */
  background-color: #e0e0e0; /* 백그라운드 색상 */
  margin-top: 10px;
  position: relative;
}
main #skill .progress {
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #ff4e02, #E77E51, #f1d475);
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes fill-html {
  from {
    width: 0;
  }
  to {
    width: 90%;
  } /* HTML은 90%로 설정 */
}
@keyframes fill-css {
  from {
    width: 0;
  }
  to {
    width: 85%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-sass {
  from {
    width: 0;
  }
  to {
    width: 85%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-javascript {
  from {
    width: 0;
  }
  to {
    width: 80%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-jquery {
  from {
    width: 0;
  }
  to {
    width: 85%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-react {
  from {
    width: 0;
  }
  to {
    width: 80%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-git {
  from {
    width: 0;
  }
  to {
    width: 90%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-figma {
  from {
    width: 0;
  }
  to {
    width: 90%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-ai {
  from {
    width: 0;
  }
  to {
    width: 85%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-photoshop {
  from {
    width: 0;
  }
  to {
    width: 90%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-ae {
  from {
    width: 0;
  }
  to {
    width: 75%;
  } /* CSS는 80%로 설정 */
}
@keyframes fill-pre {
  from {
    width: 0;
  }
  to {
    width: 80%;
  } /* CSS는 80%로 설정 */
}
main #skill .html-progress {
  animation: fill-html 2s forwards;
}
main #skill .css-progress {
  animation: fill-css 2s forwards;
}
main #skill .sass-progress {
  animation: fill-css 2s forwards;
}
main #skill .javascript-progress {
  animation: fill-css 2s forwards;
}
main #skill .jquery-progress {
  animation: fill-css 2s forwards;
}
main #skill .react-progress {
  animation: fill-css 2s forwards;
}
main #skill .git-progress {
  animation: fill-css 2s forwards;
}
main #skill .figma-progress {
  animation: fill-css 2s forwards;
}
main #skill .ai-progress {
  animation: fill-css 2s forwards;
}
main #skill .photoshop-progress {
  animation: fill-css 2s forwards;
}
main #skill .ae-progress {
  animation: fill-css 2s forwards;
}
main #skill .pre-progress {
  animation: fill-css 2s forwards;
}
main #skill .modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}
main #skill .modal-content {
  background-color: #fff;
  margin: 50% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
main #skill .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
main #skill .close:hover,
main #skill .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
main #skill .modal-icon {
  width: 50px;
  height: 50px;
  margin: auto;
}
main #skill .modal-description {
  margin-top: 20px;
  font-size: 14px;
  margin: auto;
  font-family: "Pretendard-Light";
}
main #skill .skills-circle {
  display: none;
}
@media (min-width: 1024px) {
  main #skill .skills-circle {
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* 원형 배치를 위해 높이 설정 */
    position: relative;
  }
  main #skill .skills-circle img {
    margin: auto;
  }
  main #skill .skills-circle p {
    display: none;
  }
}
@media (min-width: 1024px) {
  main #skill .skill-box {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: all 0.3s ease;
  }
  main #skill .skill-box .description {
    display: none;
  }
  main #skill .skill-box.center {
    z-index: 10;
    transform: translate(-50%, -50%) !important;
  }
}
@media (min-width: 1024px) {
  main #skill .html-box {
    transform: rotate(0deg) translate(350px) rotate(0deg);
  }
  main #skill .css-box {
    transform: rotate(30deg) translate(350px) rotate(-30deg);
  }
  main #skill .sass-box {
    transform: rotate(60deg) translate(350px) rotate(-60deg);
  }
  main #skill .javascript-box {
    transform: rotate(90deg) translate(350px) rotate(-90deg);
  }
  main #skill .jquery-box {
    transform: rotate(120deg) translate(350px) rotate(-120deg);
  }
  main #skill .react-box {
    transform: rotate(150deg) translate(350px) rotate(-150deg);
  }
  main #skill .git-box {
    transform: rotate(180deg) translate(350px) rotate(-180deg);
  }
  main #skill .figma-box {
    transform: rotate(210deg) translate(350px) rotate(-210deg);
  }
  main #skill .ai-box {
    transform: rotate(240deg) translate(350px) rotate(-240deg);
  }
  main #skill .photoshop-box {
    transform: rotate(270deg) translate(350px) rotate(-270deg);
  }
  main #skill .ae-box {
    transform: rotate(300deg) translate(350px) rotate(-300deg);
  }
  main #skill .pre-box {
    transform: rotate(330deg) translate(350px) rotate(-330deg);
  }
  main #skill .hover-display {
    display: none;
    position: absolute;
    top: 46.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 6;
    background: transparent;
    padding: 20px;
    width: 200px;
    height: 100px;
  }
  main #skill .hover-display .hover-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  main #skill .hover-display .progress-bar {
    width: 70%;
    margin: 10px auto;
  }
  main #skill .hover-display .hover-description {
    font-size: 14px;
    font-family: "Pretendard-Light";
  }
}
main #portfolio {
  overflow: hidden;
  position: relative;
  margin-top: 150px;
  width: 100%;
}
main #portfolio h2 {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 4;
  font-family: "Alegreya";
  font-weight: 400;
  margin-bottom: 30px;
}
main #portfolio .art-museum {
  height: 100vh;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .art-museum-title {
    position: absolute;
    left: 33%;
    top: 110px;
  }
}
main #portfolio .art-museum .art-museum-title h3 {
  position: relative;
  z-index: 4;
  font-family: "Pretendard-Light";
  font-size: 20px;
}
main #portfolio .art-museum .art-museum-title .en {
  position: relative;
  z-index: 4;
  color: #776677;
  font-size: 14px;
  font-family: "Pretendard-Light";
}
main #portfolio .art-museum .museum-img-box {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-img-box {
    width: 100%;
  }
}
main #portfolio .art-museum .museum-img2 {
  width: 100%;
  display: none;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-img2 {
    display: block;
    width: 28%;
    position: absolute;
    top: 0;
  }
}
main #portfolio .art-museum .museum-img2 img {
  width: 100%;
  margin: 20px 0;
}
main #portfolio .art-museum .museum-img2::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  height: 93%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
  z-index: 1;
}
main #portfolio .art-museum .museum-img1 {
  cursor: pointer;
  width: 100%;
  height: 400px; /* 높이 지정 */
  overflow: hidden; /* 오버플로우 숨기기 */
  position: relative;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-img1 {
    position: relative;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    z-index: 5;
    width: 50%;
    height: 630px; /* 높이 지정 */
    overflow: hidden; /* 오버플로우 숨기기 */
  }
  main #portfolio .art-museum .museum-img1 img {
    margin: 20px 0;
    width: 100%;
    position: absolute;
    top: 0;
  }
}
main #portfolio .art-museum .museum-img1 img {
  width: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-img1:hover img {
    transform: translateY(-67%); /* 이미지를 위로 100%만큼 스크롤 */
  }
  main #portfolio .art-museum .museum-img1 img {
    transition: transform 1.5s ease; /* 변환 애니메이션 설정 */
  }
}
main #portfolio .art-museum .museum-img3 {
  display: none;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-img3 {
    display: block;
    z-index: 1;
    width: 30%;
    position: absolute;
    top: 35%;
    left: 70%;
  }
}
main #portfolio .art-museum .museum-img3 img {
  width: 100%;
  margin: 20px 0;
}
main #portfolio .art-museum .museum-img3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
  z-index: 1;
}
main #portfolio .art-museum .museum-button {
  width: 100%;
  display: flex;
  justify-content: right;
  position: relative;
  z-index: 5;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-button {
    position: absolute;
    top: 28%;
    right: 35%;
    width: 40%;
  }
}
main #portfolio .art-museum .museum-button #git, main #portfolio .art-museum .museum-button #website, main #portfolio .art-museum .museum-button #design-guide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid #C2C2C2;
  background-color: #fff;
  padding: 0 5px;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-button #git, main #portfolio .art-museum .museum-button #website, main #portfolio .art-museum .museum-button #design-guide {
    width: 25%;
    padding: 3px 5px;
  }
}
main #portfolio .art-museum .museum-button #git p, main #portfolio .art-museum .museum-button #website p, main #portfolio .art-museum .museum-button #design-guide p {
  padding: 3px;
  font-size: 12px;
  font-family: "Pretendard-Light";
}
main #portfolio .art-museum .museum-button #git .design, main #portfolio .art-museum .museum-button #website .design, main #portfolio .art-museum .museum-button #design-guide .design {
  line-height: 1.3;
}
main #portfolio .art-museum .museum-button #git img, main #portfolio .art-museum .museum-button #website img, main #portfolio .art-museum .museum-button #design-guide img {
  width: 18%;
}
main #portfolio .art-museum .museum-button #git .black, main #portfolio .art-museum .museum-button #website .black, main #portfolio .art-museum .museum-button #design-guide .black {
  display: block;
}
main #portfolio .art-museum .museum-button #git .white, main #portfolio .art-museum .museum-button #website .white, main #portfolio .art-museum .museum-button #design-guide .white {
  display: none;
}
main #portfolio .art-museum .museum-button #git, main #portfolio .art-museum .museum-button #website, main #portfolio .art-museum .museum-button #design-guide {
  cursor: pointer;
}
main #portfolio .art-museum .museum-button #git:hover, main #portfolio .art-museum .museum-button #website:hover, main #portfolio .art-museum .museum-button #design-guide:hover {
  background-color: #E78156;
}
main #portfolio .art-museum .museum-button #git:hover p, main #portfolio .art-museum .museum-button #website:hover p, main #portfolio .art-museum .museum-button #design-guide:hover p {
  color: #fff;
}
main #portfolio .art-museum .museum-button #git:hover .black, main #portfolio .art-museum .museum-button #website:hover .black, main #portfolio .art-museum .museum-button #design-guide:hover .black {
  display: none;
}
main #portfolio .art-museum .museum-button #git:hover .white, main #portfolio .art-museum .museum-button #website:hover .white, main #portfolio .art-museum .museum-button #design-guide:hover .white {
  display: block;
}
main #portfolio .art-museum .museum-txt .time {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main #portfolio .art-museum .museum-txt .time p {
  margin-left: 20px;
}
main #portfolio .art-museum .museum-txt .together {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main #portfolio .art-museum .museum-txt .together p {
  margin-left: 40px;
}
main #portfolio .art-museum .museum-txt h4 {
  font-size: 18px;
  font-family: "Pretendard-Light";
}
main #portfolio .art-museum .museum-txt p {
  font-size: 16px;
  font-family: "Pretendard-Light";
}
main #portfolio .art-museum .museum-txt .tool-box {
  display: flex;
}
main #portfolio .art-museum .museum-txt .tool-box .usetool {
  display: flex;
  margin-left: 35px;
}
main #portfolio .art-museum .museum-txt .tool-box .usetool .tool {
  border: 1px solid black;
  border-radius: 10px;
  width: 80px;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
}
main #portfolio .art-museum .museum-txt .project-txt {
  margin-top: 10px;
}
@media (min-width: 1024px) {
  main #portfolio .art-museum .museum-txt {
    position: absolute;
    top: 22%;
  }
}
main #portfolio .loyal-bg {
  position: absolute;
  top: 20%;
  left: 40%;
  opacity: 0.5;
  z-index: 1;
}
@media (min-width: 1024px) {
  main #portfolio .loyal-bg {
    left: 40%;
  }
}
main #portfolio .loyal-festival {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin-top: 30px;
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festiva-title {
    position: absolute;
    top: 8%;
    left: 10.3%;
  }
}
main #portfolio .loyal-festival .festiva-title h3 {
  position: relative;
  width: 100%;
  font-family: "Pretendard-Light";
  text-align: right;
  font-size: 20px;
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festiva-title h3 {
    text-align: left;
  }
}
main #portfolio .loyal-festival .festiva-title .en {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: #776677;
  font-size: 14px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festiva-title .en {
    text-align: left;
  }
}
main #portfolio .loyal-festival .festival-img-box {
  width: 88%;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main #portfolio .loyal-festival .festival-img-box .festival-img1, main #portfolio .loyal-festival .festival-img-box .festival-img3, main #portfolio .loyal-festival .festival-img-box .festival-img4 {
  display: none;
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festival-img-box .festival-img1, main #portfolio .loyal-festival .festival-img-box .festival-img3, main #portfolio .loyal-festival .festival-img-box .festival-img4 {
    display: block;
  }
}
main #portfolio .loyal-festival .festival-img-box .festival-img2 {
  width: 100%;
  overflow: hidden;
  height: 400px; /* 컨테이너 높이 지정 */
  position: relative;
  transition: transform 0.3s ease;
}
main #portfolio .loyal-festival .festival-img-box .festival-img2 img {
  width: 100%; /* 이미지 너비를 꽉 차게 지정 */
  height: auto; /* 자동 높이 설정 */
  cursor: grab; /* 드래그할 수 있음을 나타내는 커서 */
  position: absolute; /* 드래그 이동을 위해 position을 absolute로 설정 */
  top: 0; /* 초기 위치 설정 */
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festival-img-box .festival-img2 {
    margin-left: 40px;
  }
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festival-img-box .festival-img2:hover img {
    transform: translateY(-75%); /* 이미지를 위로 100%만큼 스크롤 */
  }
  main #portfolio .loyal-festival .festival-img-box .festival-img2 img {
    transition: transform 1.5s ease; /* 변환 애니메이션 설정 */
  }
  main #portfolio .loyal-festival .festival-img-box .festival-img1:hover img {
    transform: translateY(-43%); /* 이미지를 위로 100%만큼 스크롤 */
  }
  main #portfolio .loyal-festival .festival-img-box .festival-img1 img {
    transition: transform 1.5s ease; /* 변환 애니메이션 설정 */
  }
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festival-img-box .festival-img1 {
    position: absolute;
    top: 8%;
    left: 45%;
    margin: 0 80px;
    height: 700px;
    width: 80%;
  }
  main #portfolio .loyal-festival .festival-img-box .festival-img1 img {
    width: 40%;
  }
  main #portfolio .loyal-festival .festival-img-box .festival-img2 {
    width: 35%;
    top: 14%;
    left: 7.8%;
    height: 500px;
    position: absolute;
  }
  main #portfolio .loyal-festival .festival-img-box .festival-img2 img {
    width: 100%;
  }
  main #portfolio .loyal-festival .festival-img-box .loyal-img-po {
    position: absolute;
    display: flex;
    left: 70%;
    top: 23%;
    overflow: hidden;
    width: 100%;
  }
  main #portfolio .loyal-festival .festival-img-box .loyal-img-po .festival-img3 {
    margin-right: -330px;
  }
  main #portfolio .loyal-festival .festival-img-box .loyal-img-po .festival-img3 img {
    width: 50%;
  }
  main #portfolio .loyal-festival .festival-img-box .loyal-img-po .festival-img4 img {
    width: 48%;
  }
}
main #portfolio .loyal-festival .festival-button {
  width: 100%;
  display: flex;
  justify-content: left;
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festival-button {
    position: absolute;
    top: 73%;
    left: 9.7%;
    width: 46%;
  }
}
main #portfolio .loyal-festival .festival-button #git, main #portfolio .loyal-festival .festival-button #website, main #portfolio .loyal-festival .festival-button #design-guide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid #E78156;
  background-color: #FFF5ED;
  padding: 0 5px;
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festival-button #git, main #portfolio .loyal-festival .festival-button #website, main #portfolio .loyal-festival .festival-button #design-guide {
    width: 20%;
    padding: 3px 5px;
  }
}
main #portfolio .loyal-festival .festival-button #git p, main #portfolio .loyal-festival .festival-button #website p, main #portfolio .loyal-festival .festival-button #design-guide p {
  padding: 3px;
  font-size: 12px;
  font-family: "Pretendard-Light";
}
main #portfolio .loyal-festival .festival-button #git .design, main #portfolio .loyal-festival .festival-button #website .design, main #portfolio .loyal-festival .festival-button #design-guide .design {
  line-height: 1.3;
}
main #portfolio .loyal-festival .festival-button #git img, main #portfolio .loyal-festival .festival-button #website img, main #portfolio .loyal-festival .festival-button #design-guide img {
  width: 18%;
}
main #portfolio .loyal-festival .festival-button #git .black, main #portfolio .loyal-festival .festival-button #website .black, main #portfolio .loyal-festival .festival-button #design-guide .black {
  display: block;
}
main #portfolio .loyal-festival .festival-button #git .white, main #portfolio .loyal-festival .festival-button #website .white, main #portfolio .loyal-festival .festival-button #design-guide .white {
  display: none;
}
main #portfolio .loyal-festival .festival-button #git, main #portfolio .loyal-festival .festival-button #website, main #portfolio .loyal-festival .festival-button #design-guide {
  cursor: pointer;
}
main #portfolio .loyal-festival .festival-button #git:hover, main #portfolio .loyal-festival .festival-button #website:hover, main #portfolio .loyal-festival .festival-button #design-guide:hover {
  background-color: #E78156;
}
main #portfolio .loyal-festival .festival-button #git:hover p, main #portfolio .loyal-festival .festival-button #website:hover p, main #portfolio .loyal-festival .festival-button #design-guide:hover p {
  color: #fff;
}
main #portfolio .loyal-festival .festival-button #git:hover .black, main #portfolio .loyal-festival .festival-button #website:hover .black, main #portfolio .loyal-festival .festival-button #design-guide:hover .black {
  display: none;
}
main #portfolio .loyal-festival .festival-button #git:hover .white, main #portfolio .loyal-festival .festival-button #website:hover .white, main #portfolio .loyal-festival .festival-button #design-guide:hover .white {
  display: block;
}
main #portfolio .loyal-festival .festival-txt .time {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main #portfolio .loyal-festival .festival-txt .time p {
  margin-left: 20px;
}
main #portfolio .loyal-festival .festival-txt .together {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main #portfolio .loyal-festival .festival-txt .together p {
  margin-left: 40px;
}
main #portfolio .loyal-festival .festival-txt h4 {
  font-size: 18px;
  font-family: "Pretendard-Light";
}
main #portfolio .loyal-festival .festival-txt p {
  font-size: 16px;
  font-family: "Pretendard-Light";
}
main #portfolio .loyal-festival .festival-txt .tool-box {
  display: flex;
}
main #portfolio .loyal-festival .festival-txt .tool-box .usetool {
  display: flex;
  margin-left: 35px;
}
main #portfolio .loyal-festival .festival-txt .tool-box .usetool .tool {
  border: 1px solid black;
  border-radius: 10px;
  width: 65px;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
}
main #portfolio .loyal-festival .festival-txt .project-txt {
  margin-top: 10px;
}
@media (min-width: 1024px) {
  main #portfolio .loyal-festival .festival-txt {
    position: absolute;
    top: 79%;
  }
}
main #portfolio .public-bg {
  position: absolute;
  opacity: 0.5;
}
main #portfolio .public-portfolio {
  height: 100vh;
  position: relative;
  margin-top: 150px;
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-title {
    position: absolute;
    top: 30px;
    left: 60%;
  }
}
main #portfolio .public-portfolio .public-title h3 {
  font-family: "Pretendard-Light";
  font-size: 20px;
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-title h3 {
    width: 100%;
    text-align: right;
  }
}
main #portfolio .public-portfolio .public-title .en {
  color: #776677;
  font-size: 14px;
  font-family: "Pretendard-Light";
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-title .en {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
}
main #portfolio .public-portfolio .public-img-box {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-img-box .public-img1 {
    width: 28%;
    position: absolute;
    top: 28%;
  }
}
main #portfolio .public-portfolio .public-img-box .public-img1 img {
  width: 100%;
  margin: 20px 0;
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-img-box .public-img2 {
    position: relative;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    z-index: 5;
  }
  main #portfolio .public-portfolio .public-img-box .public-img2 img {
    margin: 20px 0;
  }
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-img-box .public-img3 {
    z-index: 1;
    width: 27%;
    position: absolute;
    top: 0;
    left: 70%;
  }
}
main #portfolio .public-portfolio .public-img-box .public-img3 img {
  width: 100%;
  margin: 20px 0;
}
main #portfolio .public-portfolio .public-button {
  width: 100%;
  display: flex;
  justify-content: right;
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-button {
    position: absolute;
    top: 68%;
    left: 17.5%;
    width: 55%;
  }
}
main #portfolio .public-portfolio .public-button #git, main #portfolio .public-portfolio .public-button #website, main #portfolio .public-portfolio .public-button #design-guide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid #E78156;
  background-color: #FFF5ED;
  padding: 0 5px;
}
@media (min-width: 1024px) {
  main #portfolio .public-portfolio .public-button #git, main #portfolio .public-portfolio .public-button #website, main #portfolio .public-portfolio .public-button #design-guide {
    width: 25%;
    padding: 3px 5px;
  }
}
main #portfolio .public-portfolio .public-button #git p, main #portfolio .public-portfolio .public-button #website p, main #portfolio .public-portfolio .public-button #design-guide p {
  padding: 3px;
  font-size: 12px;
  font-family: "Pretendard-Light";
}
main #portfolio .public-portfolio .public-button #git .design, main #portfolio .public-portfolio .public-button #website .design, main #portfolio .public-portfolio .public-button #design-guide .design {
  line-height: 1.3;
}
main #portfolio .public-portfolio .public-button #git img, main #portfolio .public-portfolio .public-button #website img, main #portfolio .public-portfolio .public-button #design-guide img {
  width: 18%;
}
main #portfolio .public-portfolio .public-button #git .black, main #portfolio .public-portfolio .public-button #website .black, main #portfolio .public-portfolio .public-button #design-guide .black {
  display: block;
}
main #portfolio .public-portfolio .public-button #git .white, main #portfolio .public-portfolio .public-button #website .white, main #portfolio .public-portfolio .public-button #design-guide .white {
  display: none;
}
main #portfolio .public-portfolio .public-button #git, main #portfolio .public-portfolio .public-button #website, main #portfolio .public-portfolio .public-button #design-guide {
  cursor: pointer;
}
main #portfolio .public-portfolio .public-button #git:hover, main #portfolio .public-portfolio .public-button #website:hover, main #portfolio .public-portfolio .public-button #design-guide:hover {
  background-color: #E78156;
}
main #portfolio .public-portfolio .public-button #git:hover p, main #portfolio .public-portfolio .public-button #website:hover p, main #portfolio .public-portfolio .public-button #design-guide:hover p {
  color: #fff;
}
main #portfolio .public-portfolio .public-button #git:hover .black, main #portfolio .public-portfolio .public-button #website:hover .black, main #portfolio .public-portfolio .public-button #design-guide:hover .black {
  display: none;
}
main #portfolio .public-portfolio .public-button #git:hover .white, main #portfolio .public-portfolio .public-button #website:hover .white, main #portfolio .public-portfolio .public-button #design-guide:hover .white {
  display: block;
}
main #portfolio .public-portfolio .public-txt .time {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main #portfolio .public-portfolio .public-txt .time p {
  margin-left: 20px;
}
main #portfolio .public-portfolio .public-txt .together {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main #portfolio .public-portfolio .public-txt .together p {
  margin-left: 40px;
}
main #portfolio .public-portfolio .public-txt h4 {
  font-size: 18px;
  font-family: "Pretendard-Light";
}
main #portfolio .public-portfolio .public-txt p {
  font-size: 16px;
  font-family: "Pretendard-Light";
}
main #portfolio .public-portfolio .public-txt .tool-box {
  display: flex;
}
main #portfolio .public-portfolio .public-txt .tool-box .usetool {
  display: flex;
  margin-left: 35px;
}
main #portfolio .public-portfolio .public-txt .tool-box .usetool .tool {
  border: 1px solid black;
  border-radius: 10px;
  width: 65px;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
}
main #portfolio .public-portfolio .public-txt .project-txt {
  margin-top: 10px;
}
main #contact {
  overflow: hidden;
  width: 100%;
  margin-top: 100px;
  position: relative;
}
main #contact h2 {
  font-family: "Alegreya";
  font-weight: 400;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  main #contact .contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
main #contact .contact-box .contact-img {
  width: 100%;
}
main #contact .contact-box .contact-img .contact-img {
  position: relative;
}
main #contact .contact-box .contact-img .contact-img img {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  main #contact .contact-box .contact-img .contact-img img {
    width: 60%;
    margin: 0;
  }
}
main #contact .contact-box .contact-txt {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
main #contact .contact-box .contact-txt .icon-tell a {
  font-family: "Pretendard-Light";
  margin: 0 auto;
  text-align: center;
}
main #contact .contact-box .contact-txt .icon-mail a {
  font-family: "Pretendard-Light";
  text-align: center;
}/*# sourceMappingURL=index.css.map */