@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: $bg-color;
}
.container {
    width: $width-wide;
    max-width: 1416px;
    margin: auto;
    padding: 0 32px;
    @include responsive(large-screens) {
        padding: 0 12px;
    }
}

header {
    .logo-menu-text {
        margin-top: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1001;
    }
    .logo-img {
        width: 20%;
        @include responsive(large-screens) {
            width: 10%;
        }
    }
    .logo-img img {
        width: 100%;
    }
    .menu-toggle-btn {
        display: flex;
        flex-direction: column;
        gap: 12px;
        cursor: pointer;
        z-index: 1001;
    }
    .menu-toggle-btn span {
        width: 36px; /* Adjusted width */
        height: 3px;
        background-color: black;
        border-radius: 5px;
        transition: 0.4s;
    }
    .menu-toggle-btn.change span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .menu-toggle-btn.change span:nth-child(2) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .header-text {
        width: 25%;
        text-align: center;
        z-index: 1001;
        @include responsive(large-screens) {
            width: 10%;
        }
    }
    .header-text a {
        font-family: Arial, sans-serif;
        font-size: 10px;
    }
    .header-text p {
        line-height: 1.2;
        font-size: 10px;
    }
    .menu_box {
        display: none;
        position: fixed;
        top: 10%;
        left: -3%;
        width: 100%;
        height: 100%;
        background-color: #FFF5ED;
        z-index: 1000;
        text-align: center;
        padding-top: 100px;
        transition: opacity 0.5s ease;
        @include responsive(large-screens) {
            left: 0;
        }
    }
    .menu_box.active {
        display: block;
    }
    .mainmenu {
        list-style: none;
        padding: 0;
    }
    .gnb li {
        display: block;
        margin-bottom: 40px;
        @include responsive(large-screens) {
            margin-bottom: 60px;
        }
    }
    .gnb a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 24px;
        font-family: $font-en;
        font-weight: 500;
        @include responsive(large-screens) {
            font-size: 34px;
        }
    }
}

main {
    #intro {
        width: $width-wide;
        margin-top: 200px;
        height: 100vh;
        position: relative;
        
        .star1, .star2, .star3 {
            position: absolute;
        }
        .star1 {
            top: 13%;
            left: 10%;
            img {
                width: 25%;
            }
            @include responsive(large-screens) {
                left: 35%;
            }
        }
        .star2 {
            z-index: 8;
            top: 22%;
            left: 79%;
            img {
                width: 40%;
            }
            @include responsive(large-screens) {
                left: 65%;
            }
        }
        .star3 {
            top: -5%;
            left: 37%;
            img {
                width: 50%;
            }
            @include responsive(large-screens) {
                left: 45%;
            }
        }
        
        
        // .contact-circle, .portfolio-circle, .aboutme-circle, .skill-circle {
            //     position: absolute;
            //     display: flex;
            //     justify-content: space-between;
            // }
        .contact-circle {
            position: absolute;
            top: -5%;
            left: 10%;
            z-index: 5;
            cursor: pointer;
            @include responsive(large-screens) {
                left: 36%;
            }
            text {
                textPath {
                    font-family: $font-en;
                    font-weight: lighter;
                    font-size: 14px;
                }
                }
        img {
            width: 70%;
        }
    }
    .portfolio-circle {
        position: absolute;
        top: 3%;
        left: 73%;
        z-index: 5;
        cursor: pointer;
        @include responsive(large-screens) {
            left: 58%;
            top: 6%;
        }
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 70%;
        }
    }
    .aboutme-circle {
        position: absolute;
        top: 22%;
        z-index: 3;
        cursor: pointer;
        @include responsive(large-screens) {
            left: 36%;
        }
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 70%;
        }
    }
    .skill-circle {
        position: absolute;
        z-index: 5;
        top: 25%;
        left: 65%;
        cursor: pointer;
        @include responsive(large-screens) {
            left: 57%;
            top: 28%;
        }
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 70%;
        }
    }
    
    .blue_gradient img {
        position: absolute;
        width: 30%;
        top: 35%;
        left: 18%;
        z-index: 1;
        @include responsive(large-screens) {
            left: 36%;
            width: 10%;
        }
    }
    
    .gradient {
        position: relative;
        z-index: 1;
        .gradient-red {
            position: absolute;
            top: -20px;
            left: 10px;
           width: 10px;
           img {
               width: 230px;
               @include responsive(large-screens) {
                width: 280px;
            }
            }
            @include responsive(large-screens) {
                left: 34%;
                top: -30px;
            }
        }
        .gradient-orange {
            position: absolute;
            top: 10px;
            left: 50px;
            z-index: 2;
            img {
                width: 250px;
                @include responsive(large-screens) {
                    width: 300px;
                }
            }
            @include responsive(large-screens) {
                left: 40%;
                top: 20px;
            }
        }
        .gradient-yellow {
            position: absolute;
            z-index: 1;
            top: 70px;
            left: 30%;
            img {
                width: 200px;
                @include responsive(large-screens) {
                    width: 230px;
                }
            }
            @include responsive(large-screens) {
                top: 110px;
                left: 47%;
            }
        }
    }
    
    .intro-txt {
        position: absolute;
        top: 5%;
        left: 25%;
        z-index: 5;
        @include responsive(large-screens) {
            left: 39%;
        }
        h1 {
            text-align: center;
            line-height: 1.1;
            width: 200px;
            z-index: 5;
            font-family: $font-en;
            font-weight: lighter;
            @include responsive(large-screens) {
                font-size: 64px;
                text-align: center;
                width: 340px;
            }
        }
        #resume {
            margin-left: 30%;
            background-color: $color-black;
            color: $color-white;
            border-radius: 5px;
            padding: 5px 10px;
            margin-top: 20px;
            cursor: pointer;
            font-family: $font-en;
            font-weight: lighter;
            @include responsive(large-screens) {
                margin-left: 38%;
            }
        }
    }
    
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    text {
        font-family: Arial, sans-serif;
        font-size: 20px;
        fill: #000;
    }

    .gradient_orange {
        position: absolute;
        top: 67%;
        left: 65%;
        img {
            width: 85%;
        }
    }
}
    
    #aboutme {
        height: 70vh;
        background-image: url(../images/aboutme_bg.png);
        background-size: cover;
        background-position: bottom 100px;
        width: $width-wide;
        position: relative;
        @include responsive(large-screens) {
            background-image: url(../images/about_bg_pc.png);
            height: 80vh;
        }
        .aboutme_txt-img {
            position: absolute;
            text-align: center;
            top: -36%;
            left: 0;
            z-index: 3;
            @include responsive(large-screens) {
                left: 37%;
            }
            h2 {
                font-family: $font-en;
                font-weight: 400;
            }
            .pic {
                width: 60%;
                margin: auto;
                @include responsive(large-screens) {
                    width: 80%;
                }
            }     
        }

        .aboutme-star {
            position: relative;
            z-index: 4;
            .about-star1 {
                position: absolute;
                left: 90%;
                top: 70px;
                img {
                    width: 40%;
                }
            }
            .about-star2 {
                position: absolute;
                top: -140px;
                left: 14%;
                img {
                    width: 40%;
                }
            }
            .about-star3 {
                position: absolute;
                top: 200px;
                left: 10%;
                img {
                    width: 30%;
                }
            }
        }   

        .aboutme-button {
            position: absolute;
            z-index: 3;
            width: $width-wide;
            display: flex;
            top: 93%;
            @include responsive(large-screens) {
                height: 10%;
            }
            #prof {
                width: $width-half;
                background: $bg-color;
                cursor: pointer;
                border: 2px solid black;
                border-left: 0;
                p {
                    font-size: 16px;
                }
            }
            #suit {
                width: $width-half;
                background: $bg-color;
                cursor: pointer;
                border: 2px solid black;
                border-right: 0;
                p {
                    font-size: 16px;
                }
            }
        }
    }
    
    #skill {
        width: $width-wide;
        margin-top: 150px;
        position: relative;
        @include responsive(large-screens) {
            margin-top: 200px;
        }
        .skill-bg {
            margin-top: 150px;
            position: absolute;
            z-index: 1;
            top: 0;
            opacity: 0.8;
            @include responsive(large-screens) {
                width: $width-wide;
                top: -20%;
            }
            img {
                width: $width-wide;
                height: 5%;
                @include responsive(large-screens) {
                    height: 2000px;
                }
            }
        }
        h2 {
            font-family: $font-en;
            font-weight: 400;
            margin-bottom: 30px;
            position: relative;
            z-index: 4;
        }
        .mo-skill-box {
            position: relative;
            z-index: 3;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-around;
            width: $width-wide;
            div {
                width: $width-half;
                img {
                    margin: 0 auto;
                    width: 30%;
                }
                p {
                    font-family: $font-pre-regular;
                    font-size: 14px;
                    margin-top: 10px;
                    display: none;
                }
            }
        }
        .progress-bar {
            margin: auto;
            width: 100%;
            height: 7px; /* 직사각형 박스의 높이 */
            background-color: #e0e0e0; /* 백그라운드 색상 */
            margin-top: 10px;
            position: relative;
        }
        
        .progress {
            width: 0;
            height: 100%;
            background: linear-gradient(90deg, #ff4e02, #E77E51, #f1d475);
            position: absolute;
            top: 0;
            left: 0;
        }
        
        @keyframes fill-html {
            from { width: 0; }
            to { width: 90%; } /* HTML은 90%로 설정 */
        }
        @keyframes fill-css {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-sass {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-javascript {
            from { width: 0; }
            to { width: 80%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-jquery {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-react {
            from { width: 0; }
            to { width: 80%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-git {
            from { width: 0; }
            to { width: 90%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-figma {
            from { width: 0; }
            to { width: 90%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-ai {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-photoshop {
            from { width: 0; }
            to { width: 90%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-ae {
            from { width: 0; }
            to { width: 75%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-pre {
            from { width: 0; }
            to { width: 80%; } /* CSS는 80%로 설정 */
        }
        /* 나머지 항목도 같은 방식으로 추가 */
        
        .html-progress {
            animation: fill-html 2s forwards;
        }
        .css-progress {
            animation: fill-css 2s forwards;
        }
        .sass-progress {
            animation: fill-css 2s forwards;
        }
        .javascript-progress {
            animation: fill-css 2s forwards;
        }
        .jquery-progress {
            animation: fill-css 2s forwards;
        }
        .react-progress {
            animation: fill-css 2s forwards;
        }
        .git-progress {
            animation: fill-css 2s forwards;
        }
        .figma-progress {
            animation: fill-css 2s forwards;
        }
        .ai-progress {
            animation: fill-css 2s forwards;
        }
        .photoshop-progress {
            animation: fill-css 2s forwards;
        }
        .ae-progress {
            animation: fill-css 2s forwards;
        }
        .pre-progress {
            animation: fill-css 2s forwards;
        }
        /* 나머지 항목도 같은 방식으로 추가 */

        .modal {
            display: none; /* 기본적으로 숨김 */
            position: fixed;
            z-index: 5;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.5); /* 반투명 배경 */
        }
        
        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            position: relative;
        }
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        
        .modal-icon {
            width: 50px;
            height: 50px;
        }
        
        .modal-description {
            margin-top: 20px;
        }
    }
        
        #portfolio {
            position: relative;
            margin-top: 150px;
            width: $width-wide;
            h2 {
                position: relative;
                width: $width-wide;
                text-align: right;
                z-index: 4;
                font-family: $font-en;
                font-weight: 400;
                margin-bottom: 30px;
            }
            .art-museum {
                .art-museum-title {
                    @include responsive(large-screens) {
                        position: absolute;
                        left: 33%;
                        top: 116px;
                    }
                    h3 {
                        position: relative;
                        z-index: 4;
                        font-family: $font-pre-light;
                        font-size: 20px;
                    }
                    .en {
                        position: relative;
                        z-index: 4;
                        color: #776677;
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                }
                .museum-img-box {
                    width: $width-wide;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    position: relative;
                    z-index: 5;
                }
                .museum-img1 {
                    @include responsive(large-screens) {
                        width: 28%;
                        position: absolute;
                        top: 0;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
                .museum-img2 {
                    @include responsive(large-screens) {
                        position: relative;
                        margin: auto;
                        margin-top: 70px;
                        margin-bottom: 70px;
                        z-index: 5;
                        img {
                            margin: 20px 0;
                        }
                    }
                }
                .museum-img3 {
                    @include responsive(large-screens) {
                        z-index: 1;
                        width: 30%;
                        position: absolute;
                        top: 28%;
                        left: 70%;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
                .museum-button {
                    width: $width-wide;
                    display: flex;
                    justify-content: right;
                    position: relative;
                    z-index: 5;
                    @include responsive(large-screens) {
                        position: absolute;
                        top: 28%;
                        right: 35%;
                        width: 40%;
                    }
                    #git, #website, #design-guide {
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 5px;
                        border: 1px solid #E78156;
                        background-color: $bg-color;
                        padding: 0 5px;
                        @include responsive(large-screens) {
                            padding: 3px 5px;
                        }
                        p {
                            font-size: 14px;
                            font-family: $font-pre-light;
                        }
                        img {
                            width: 18%;
                        }
                    }
                    
                }
            }
            .loyal-bg {
                position: absolute;
                top: 20%;
                opacity: 0.7;
                z-index: 1;
            }
            .loyal-festival {
                width: $width-wide;
                overflow: hidden;
                position: relative;
                z-index: 5;
                margin-top: 30px;
                .festiva-title {
                    @include responsive(large-screens) {
                        position: absolute;
                        top: 8%;
                        left: 9%;
                    }
                    h3 {
                        position: relative;
                        width: $width-wide;
                        font-family: $font-pre-light;
                        text-align: right;
                        font-size: 20px;
                        @include responsive(large-screens) {
                            text-align: left;
                        }
                    }
                    .en {
                        display: inline-block;
                        width: $width-wide;
                        text-align: right;
                        color: #776677;
                        font-size: 14px;
                        font-family: $font-pre-light;
                        @include responsive(large-screens) {
                            text-align: left;
                        }
                    }
                }
                .festival-img-box {
                    width: 88%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    .festival-img1, .festival-img3, .festival-img4  {
                        display: none;
                        @include responsive(large-screens) {
                            display: block;
                        }
                    }
                    .festival-img2 {
                        @include responsive(large-screens) {
                            margin-left: 40px;
                        }
                    }
                    @include responsive(large-screens) {
                        .festival-img1 {
                            margin: 0 80px;
                            img {
                                width: 80%;
                            }
                        }
                        .festival-img2 {
                            img {
                                width: 80%;
                            }
                        }
                        .loyal-img-po {
                            position: absolute;
                            display: flex;
                            left: 60%;
                            top: 20%;
                            .festival-img3 {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            .festival-button {
                width: $width-wide;
                display: flex;
                justify-content: left;
                @include responsive(large-screens) {
                    position: absolute;
                    top: 80%;
                    left: 8%;
                    width: 45%;
                }
                #git, #website, #design-guide {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 5px;
                    border: 1px solid #E78156;
                    background-color: $bg-color;
                    padding: 0 5px;
                    @include responsive(large-screens) {
                        padding: 3px 5px;
                    }
                    p {
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                    img {
                        width: 18%;
                    }
                }
                
            }
        }
        .public-bg {
            position: absolute;
        }
        .public-portfolio {
            position: relative;
            margin-top: 30px;
            .public-title {
                @include responsive(large-screens) {
                    position: absolute;
                    top: 30px;
                    left: 60%;
                }
                h3 {
                    font-family: $font-pre-light;
                    font-size: 20px;
                    @include responsive(large-screens) {
                        width: $width-wide;
                        text-align: right;
                    }
                }
                .en {
                    color: #776677;
                    font-size: 14px;
                    font-family: $font-pre-light;
                    @include responsive(large-screens) {
                        display: inline-block;
                        width: $width-wide;
                        text-align: right;
                    }
                }
            }
            .public-img-box {
                width: $width-wide;
                display: flex;
                align-items: center;
                overflow: hidden;
                position: relative;
                @include responsive(large-screens) {

                }
                .public-img1 {
                    @include responsive(large-screens) {
                        width: 28%;
                        position: absolute;
                        top: 28%;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
                .public-img2 {
                    @include responsive(large-screens) {
                        position: relative;
                        margin: auto;
                        margin-top: 70px;
                        margin-bottom: 70px;
                        z-index: 5;
                        img {
                            margin: 20px 0;
                        }
                    }
                }
                .public-img3 {
                    @include responsive(large-screens) {
                        z-index: 1;
                        width: 27%;
                        position: absolute;
                        top: 0;
                        left: 70%;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
            }
            .public-button {
                width: $width-wide;
                display: flex;
                justify-content: right;
                @include responsive(large-screens) {
                    position: absolute;
                    top: 85%;
                    left: 17%;
                    width: 55%;
                }
                #git, #website, #design-guide {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 5px;
                    border: 1px solid #E78156;
                    background-color: $bg-color;
                    padding: 0 5px;
                    @include responsive(large-screens) {
                        padding: 3px 5px;
                    }
                    p {
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                    img {
                        width: 18%;
                    }
                }
                
            }
        }
        
    }
    #contact {
        overflow: hidden;
        width: $width-wide;
        margin-top: 100px;
        position: relative;
        h2 {
            font-family: $font-en;
            font-weight: 400; 
            margin-bottom: 30px;
        }
        .contact-box {
            @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .contact-img {
                width: $width-wide;
                // .contact-top {
                //     width: $width-wide;
                //     position: absolute;
                //     img {
                //         width: $width-wide;
                //     }
                // }
                // .contact-bottom {
                //     width: $width-wide;
                //     position: absolute;
                //     img {
                //         width: $width-wide;
                //     }
                // }
                .contact-img {
                    position: relative;
                    img {
                        width: 80%;
                        margin: 0 auto;
                        @include responsive(large-screens) {
                            width: 60%;
                            margin: 0;
                        }
                    }
                }
            }
            .contact-txt {
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 50px;
                .icon-tell {
                    a {
                        font-family: $font-pre-light;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
                .icon-mail {
                    a {
                        font-family: $font-pre-light;
                        text-align: center;
                    }
                }
            }
        }
        
    }
} // main