@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: $bg-color;
}
.container {
    width: $width-wide;
    max-width: 1416px;
    margin: auto;
    padding: 0 32px;
    @include responsive(large-screens) {
        padding: 0 12px;
    }
}

header {
    .logo-menu-text {
        margin-top: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1001;
    }
    .logo-img {
        width: 20%;
        @include responsive(large-screens) {
            width: 10%;
        }
    }
    .logo-img img {
        width: 100%;
    }
    .menu-toggle-btn {
        display: flex;
        flex-direction: column;
        gap: 12px;
        cursor: pointer;
        z-index: 1001;
    }
    .menu-toggle-btn span {
        width: 36px; /* Adjusted width */
        height: 3px;
        background-color: black;
        border-radius: 5px;
        transition: 0.4s;
    }
    .menu-toggle-btn.change span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .menu-toggle-btn.change span:nth-child(2) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .header-text {
        width: 25%;
        text-align: center;
        z-index: 1001;
        @include responsive(large-screens) {
            width: 10%;
        }
    }
    .header-text a {
        font-family: Arial, sans-serif;
        font-size: 10px;
    }
    .header-text p {
        line-height: 1.2;
        font-size: 10px;
    }
    .menu_box {
        display: none;
        position: fixed;
        top: 10%;
        left: -3%;
        width: 100%;
        height: 100%;
        background-color: #FFF5ED;
        z-index: 1000;
        text-align: center;
        padding-top: 100px;
        transition: opacity 0.5s ease;
        @include responsive(large-screens) {
            left: 0;
        }
    }
    .menu_box.active {
        display: block;
    }
    .mainmenu {
        list-style: none;
        padding: 0;
    }
    .gnb li {
        display: block;
        margin-bottom: 40px;
        @include responsive(large-screens) {
            margin-bottom: 60px;
        }
    }
    .gnb a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 24px;
        font-family: $font-en;
        font-weight: 500;
        @include responsive(large-screens) {
            font-size: 34px;
        }
    }
}

main {
    #intro {
        // @keyframes fade-in {
        //     0% {
        //         opacity: 0;
        //     }
        //     100% {
        //         opacity: 1;
        //     }
        // }
        
        // .gradient-red img {
        //     opacity: 0; /* 초기에는 숨겨둡니다. */
        //     animation: fade-in 1.5s ease forwards 0.5s; /* 0.5초 후에 나타나도록 설정 */
        // }
        
        // .gradient-orange img {
        //     opacity: 0; /* 초기에는 숨겨둡니다. */
        //     animation: fade-in 1.5s ease forwards 1s; /* 1초 후에 나타나도록 설정 */
        // }
        
        // .gradient-yellow img {
        //     opacity: 0; /* 초기에는 숨겨둡니다. */
        //     animation: fade-in 1.5s ease forwards 1.5s; /* 1.5초 후에 나타나도록 설정 */
        // }
        
        // .intro-txt h1, #resume {
        //     opacity: 0; /* 초기에는 숨겨둡니다. */
        //     animation: fade-in 1s ease forwards 2s; /* 2초 후에 나타나도록 설정 */
        // }
        width: $width-wide;
        margin-top: 200px;
        height: 100vh;
        position: relative;
        
        .star1, .star2, .star3 {
            position: absolute;
        }
        .star1 {
            top: 13%;
            left: 10%;
            img {
                width: 25%;
            }
            @include responsive(large-screens) {
                left: 35%;
            }
        }
        .star2 {
            z-index: 8;
            top: 22%;
            left: 79%;
            img {
                width: 40%;
            }
            @include responsive(large-screens) {
                left: 65%;
            }
        }
        .star3 {
            top: -5%;
            left: 37%;
            img {
                width: 50%;
            }
            @include responsive(large-screens) {
                left: 45%;
            }
        }
        
        
        // .contact-circle, .portfolio-circle, .aboutme-circle, .skill-circle {
            //     position: absolute;
            //     display: flex;
            //     justify-content: space-between;
            // }
        .contact-circle {
            position: absolute;
            top: -5%;
            left: 10%;
            z-index: 5;
            cursor: pointer;
            @include responsive(large-screens) {
                left: 36%;
            }
            text {
                textPath {
                    font-family: $font-en;
                    font-weight: lighter;
                    font-size: 14px;
                }
                }
        img {
            width: 70%;
        }
    }
    .portfolio-circle {
        position: absolute;
        top: 3%;
        left: 73%;
        z-index: 5;
        cursor: pointer;
        @include responsive(large-screens) {
            left: 58%;
            top: 6%;
        }
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 70%;
        }
    }
    .aboutme-circle {
        position: absolute;
        top: 22%;
        z-index: 3;
        cursor: pointer;
        @include responsive(large-screens) {
            left: 36%;
        }
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 70%;
        }
    }
    .skill-circle {
        position: absolute;
        z-index: 5;
        top: 25%;
        left: 65%;
        cursor: pointer;
        @include responsive(large-screens) {
            left: 57%;
            top: 28%;
        }
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 70%;
        }
    }
    
    .blue_gradient img {
        position: absolute;
        width: 30%;
        top: 35%;
        left: 18%;
        z-index: 1;
        @include responsive(large-screens) {
            left: 36%;
            width: 10%;
        }
    }
    
    .gradient {
        position: relative;
        z-index: 1;
        .gradient-red {
            position: absolute;
            top: -20px;
            left: 10px;
           width: 10px;
           img {
               width: 230px;
               @include responsive(large-screens) {
                width: 280px;
            }
            }
            @include responsive(large-screens) {
                left: 34%;
                top: -30px;
            }
        }
        .gradient-orange {
            position: absolute;
            top: 10px;
            left: 50px;
            z-index: 2;
            img {
                width: 250px;
                @include responsive(large-screens) {
                    width: 300px;
                }
            }
            @include responsive(large-screens) {
                left: 40%;
                top: 20px;
            }
        }
        .gradient-yellow {
            position: absolute;
            z-index: 1;
            top: 70px;
            left: 30%;
            img {
                width: 200px;
                @include responsive(large-screens) {
                    width: 230px;
                }
            }
            @include responsive(large-screens) {
                top: 110px;
                left: 47%;
            }
        }
    }
    
    .intro-txt {
        position: absolute;
        top: 5%;
        left: 25%;
        z-index: 5;
        @include responsive(large-screens) {
            left: 39%;
        }
        h1 {
            text-align: center;
            line-height: 1.1;
            width: 200px;
            z-index: 5;
            font-family: $font-en;
            font-weight: lighter;
            @include responsive(large-screens) {
                font-size: 64px;
                text-align: center;
                width: 340px;
            }
        }
        #resume {
            margin-left: 30%;
            background-color: $color-black;
            color: $color-white;
            border-radius: 5px;
            padding: 5px 10px;
            margin-top: 20px;
            cursor: pointer;
            font-family: $font-en;
            font-weight: lighter;
            @include responsive(large-screens) {
                margin-left: 38%;
            }
        }
    }
    
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    text {
        font-family: Arial, sans-serif;
        font-size: 20px;
        fill: #000;
    }

    .gradient_orange {
        position: absolute;
        top: 67%;
        left: 65%;
        img {
            width: 85%;
        }
    }
}
    
    #aboutme {
        height: 70vh;
        background-image: url(../images/aboutme_bg.png);
        background-size: cover;
        background-position: bottom 100px;
        width: $width-wide;
        position: relative;
        @include responsive(large-screens) {
            background-image: url(../images/about_bg_pc.png);
            height: 80vh;
        }
        .aboutme_txt-img {
            position: absolute;
            text-align: center;
            top: -36%;
            left: 0;
            z-index: 3;
            @include responsive(large-screens) {
                left: 10%;
                top: -40%;
            }
            h2 {
                font-family: $font-en;
                font-weight: 400;
            }
            .pic {
                width: 60%;
                margin: auto;
                margin-bottom: 30px;
                @include responsive(large-screens) {
                    width: 30%;
                    margin: auto;
                }
            }  
            .about-txt {
                strong {
                    color: white;
                    font-family: $font-pre-regular;
                    padding-top: 20px;
                    font-size: 20px;
                }
                p {
                    color: white;
                    font-family: $font-pre-light;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }   
        }

        .aboutme-star {
            position: relative;
            z-index: 4;
            .about-star1 {
                position: absolute;
                left: 90%;
                top: 70px;
                img {
                    width: 40%;
                }
            }
            .about-star2 {
                position: absolute;
                top: -140px;
                left: 14%;
                img {
                    width: 40%;
                }
            }
            .about-star3 {
                position: absolute;
                top: 200px;
                left: 10%;
                img {
                    width: 30%;
                }
            }
        }   

        .aboutme-button {
            position: absolute;
            z-index: 3;
            width: $width-wide;
            display: flex;
            top: 93%;
            @include responsive(large-screens) {
                height: 10%;
            }
            #prof {
                width: $width-half;
                background: $bg-color;
                cursor: pointer;
                border: 2px solid black;
                border-left: 0;
                p {
                    font-size: 16px;
                }
            }
            #suit {
                width: $width-half;
                background: $bg-color;
                cursor: pointer;
                border: 2px solid black;
                border-right: 0;
                p {
                    font-size: 16px;
                }
            }
        }
    }
    
    #skill {
        width: $width-wide;
        margin-top: 150px;
        position: relative;
        @include responsive(large-screens) {
            margin-top: 200px;
        }
        .skill-bg {
            // margin-top: 150px;
            position: absolute;
            z-index: 1;
            top: -10%;
            width: $width-wide;
            opacity: 0.5;
            @include responsive(large-screens) {
                display: none;
            }
            img {
                width: $width-wide;
                height: 1100px;
            }
        }
        .skill-bg-pc {
            display: none;
            @include responsive(large-screens) {
                display: block;
                position: absolute;
                top: 0;
                z-index: 1;
                opacity: 0.5;
                width: $width-wide;
                img {
                    width: $width-wide;
                    height: 1100px;
                }
            }
        }
        h2 {
            font-family: $font-en;
            font-weight: 400;
            margin-bottom: 30px;
            position: relative;
            z-index: 4;
        }
        .mo-skill-box {
            position: relative;
            z-index: 3;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-around;
            width: $width-wide;
            @include responsive(large-screens) {
                display: none;
            }
            div {
                width: $width-half; 
               
                img {
                    margin: 0 auto;
                    width: 30%;
                }
                p {
                    display: none;
                }
            }
        }
        .progress-bar {
            margin: auto;
            width: 100%;
            height: 7px; /* 직사각형 박스의 높이 */
            background-color: #e0e0e0; /* 백그라운드 색상 */
            margin-top: 10px;
            position: relative;
        }
        
        .progress {
            width: 0;
            height: 100%;
            background: linear-gradient(90deg, #ff4e02, #E77E51, #f1d475);
            position: absolute;
            top: 0;
            left: 0;
        }
        
        @keyframes fill-html {
            from { width: 0; }
            to { width: 90%; } /* HTML은 90%로 설정 */
        }
        @keyframes fill-css {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-sass {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-javascript {
            from { width: 0; }
            to { width: 80%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-jquery {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-react {
            from { width: 0; }
            to { width: 80%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-git {
            from { width: 0; }
            to { width: 90%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-figma {
            from { width: 0; }
            to { width: 90%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-ai {
            from { width: 0; }
            to { width: 85%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-photoshop {
            from { width: 0; }
            to { width: 90%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-ae {
            from { width: 0; }
            to { width: 75%; } /* CSS는 80%로 설정 */
        }
        @keyframes fill-pre {
            from { width: 0; }
            to { width: 80%; } /* CSS는 80%로 설정 */
        }
        /* 나머지 항목도 같은 방식으로 추가 */
        
        .html-progress {
            animation: fill-html 2s forwards;
        }
        .css-progress {
            animation: fill-css 2s forwards;
        }
        .sass-progress {
            animation: fill-css 2s forwards;
        }
        .javascript-progress {
            animation: fill-css 2s forwards;
        }
        .jquery-progress {
            animation: fill-css 2s forwards;
        }
        .react-progress {
            animation: fill-css 2s forwards;
        }
        .git-progress {
            animation: fill-css 2s forwards;
        }
        .figma-progress {
            animation: fill-css 2s forwards;
        }
        .ai-progress {
            animation: fill-css 2s forwards;
        }
        .photoshop-progress {
            animation: fill-css 2s forwards;
        }
        .ae-progress {
            animation: fill-css 2s forwards;
        }
        .pre-progress {
            animation: fill-css 2s forwards;
        }
        /* 나머지 항목도 같은 방식으로 추가 */

        .modal {
            display: none; /* 기본적으로 숨김 */
            position: fixed;
            z-index: 5;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.5); /* 반투명 배경 */
        }
        
        .modal-content {
            background-color: #fff;
            margin: 50% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            position: relative;
        }
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        
        .modal-icon {
            width: 50px;
            height: 50px;
            margin: auto;
        }
        
        .modal-description {
            margin-top: 20px;
            font-size: 14px;
            margin: auto;
            font-family: $font-pre-light;
        }
        .skills-circle {
            display: none;
            @include responsive(large-screens) {
                z-index: 5;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100vh; /* 원형 배치를 위해 높이 설정 */
                position: relative;
                img {
                    margin: auto;
                }
                p {
                    display: none;
                }
            }
        }
        .skill-box {
            @include responsive(large-screens) {
                position: absolute;
                width: 100px;
                height: 100px;
                text-align: center;
                transition: all 0.3s ease;
                .description {
                    display: none;
                }
                &.center {
                    z-index: 10;
                    transform: translate(-50%, -50%) !important;
                }
            }
        }
        @include responsive(large-screens) {

            .html-box { transform: rotate(0deg) translate(350px) rotate(0deg); }
            .css-box { transform: rotate(30deg) translate(350px) rotate(-30deg); }
            .sass-box { transform: rotate(60deg) translate(350px) rotate(-60deg); }
            .javascript-box { transform: rotate(90deg) translate(350px) rotate(-90deg); }
            .jquery-box { transform: rotate(120deg) translate(350px) rotate(-120deg); }
            .react-box { transform: rotate(150deg) translate(350px) rotate(-150deg); }
            .git-box { transform: rotate(180deg) translate(350px) rotate(-180deg); }
            .figma-box { transform: rotate(210deg) translate(350px) rotate(-210deg); }
            .ai-box { transform: rotate(240deg) translate(350px) rotate(-240deg); }
            .photoshop-box { transform: rotate(270deg) translate(350px) rotate(-270deg); }
            .ae-box { transform: rotate(300deg) translate(350px) rotate(-300deg); }
            .pre-box { transform: rotate(330deg) translate(350px) rotate(-330deg); }

            .hover-display {
                display: none;
                position: absolute;
                top: 46.8%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 6;
                background: transparent;
                padding: 20px;
                width: 200px;
                height: 100px;
            }
            
            .hover-display .hover-icon {
                width: 80px;
                height: 80px;
                margin-bottom: 10px;
            }
            
            .hover-display .progress-bar {
                width: 70%;
                margin: 10px auto;
            }
            
            .hover-display .hover-description {
                font-size: 14px;
                font-family: $font-pre-light;
            }
        }
    }
        
        #portfolio {
            overflow: hidden;
            position: relative;
            margin-top: 150px;
            width: $width-wide;
            h2 {
                position: relative;
                width: $width-wide;
                text-align: right;
                z-index: 4;
                font-family: $font-en;
                font-weight: 400;
                margin-bottom: 30px;
            }
            .art-museum {
                height: 100vh;
                .art-museum-title {
                    @include responsive(large-screens) {
                        position: absolute;
                        left: 33%;
                        top: 110px;
                    }
                    h3 {
                        position: relative;
                        z-index: 4;
                        font-family: $font-pre-light;
                        font-size: 20px;
                    }
                    .en {
                        position: relative;
                        z-index: 4;
                        color: #776677;
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                }
                .museum-img-box {
                    width: $width-wide;
                    display: flex;
                    align-items: center;
                    position: relative;
                    z-index: 5;
                    @include responsive(large-screens) {
                        width: $width-wide;
                    }
                }

                .museum-img2 {
                    width: $width-wide;
                    display: none;
                    @include responsive(large-screens) {
                        display: block;
                        width: 28%;
                        position: absolute;
                        top: 0;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
                .museum-img2::before {
                    content: '';
                    position: absolute;
                    top: 3%;
                    left: 0;
                    width: 100%;
                    height: 93%;
                    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
                    z-index: 1;
                }

                .museum-img1 {
                    cursor: pointer;
                    width: $width-wide;
                    height: 400px; /* 높이 지정 */
                    overflow: hidden; /* 오버플로우 숨기기 */
                    position: relative;
                    @include responsive(large-screens) {
                        position: relative;
                        margin: auto;
                        margin-top: 70px;
                        margin-bottom: 70px;
                        z-index: 5;
                        width: 50%;
                        height: 630px; /* 높이 지정 */
                        overflow: hidden; /* 오버플로우 숨기기 */
                        img {
                            margin: 20px 0;
                            width: 100%;
                            position: absolute;
                            top: 0;
                        }
                    }
                    img {
                        width: $width-wide;
                        position: absolute;
                        top: 0;
                    }
                }
                @include responsive(large-screens) {
                    .museum-img1:hover img {
                        transform: translateY(-67%); /* 이미지를 위로 100%만큼 스크롤 */
                    }
                    
                    .museum-img1 img {
                        transition: transform 1.5s ease; /* 변환 애니메이션 설정 */
                    }
                    
                    
                }
                .museum-img3 {
                    display: none;
                    @include responsive(large-screens) {
                        display: block;
                        z-index: 1;
                        width: 30%;
                        position: absolute;
                        top: 35%;
                        left: 70%;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
                .museum-img3::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
                    z-index: 1;
                }

                .museum-button {
                    width: $width-wide;
                    display: flex;
                    justify-content: right;
                    position: relative;
                    z-index: 5;
                    @include responsive(large-screens) {
                        position: absolute;
                        top: 28%;
                        right: 35%;
                        width: 40%;
                    }
                    #git, #website, #design-guide {
                        width: $width-wide;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 5px;
                        border: 1px solid #C2C2C2;
                        
                        background-color: $color-white;
                        padding: 0 5px;
                        @include responsive(large-screens) {
                            width: 25%;
                            padding: 3px 5px;
                        }
                        p {
                        padding: 3px;
                        font-size: 12px;
                        font-family: $font-pre-light;
                    }
                    .design {
                        line-height: 1.3;
                    }
                        
                        img {
                            width: 18%;
                            
                        }
                        .black {
                            display: block;
                        }
                        .white {
                            display: none;
                        }
                    }  
                    #git, #website, #design-guide {
                        cursor: pointer;
                        &:hover {
                            background-color: $color-hover;
                            p {
                                color: $color-white;
                            }
                            .black {
                                display: none;
                            }
                            .white {
                                display: block;
                            }
                        }
                    }
                }
                .museum-txt {
                    .time {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        p {
                            margin-left: 20px;
                        }
                    }
                    .together {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        p {
                            margin-left: 40px;
                        }
                    }
                    h4 {
                        font-size: 18px;
                        font-family: $font-pre-light;
                    }
                    p {
                        font-size: 16px;
                        font-family: $font-pre-light;
                    }
                    .tool-box {
                        display: flex;
                        .usetool {
                            display: flex;
                            margin-left: 35px;
                            .tool {
                                border: 1px solid black;
                                border-radius: 10px;
                                width: 80px;
                                text-align: center;
                                font-size: 14px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .project-txt {
                        margin-top: 10px;
                    }
                    @include responsive(large-screens) {
                        position: absolute;
                        top: 22%;
                    }
                }
            }
            .loyal-bg {
                position: absolute;
                top: 20%;
                left: 40%;
                opacity: 0.5;
                z-index: 1;
                @include responsive(large-screens) {
                    left: 40%;
                }
            }
            .loyal-festival {
                height: 100vh;
                width: $width-wide;
                overflow: hidden;
                position: relative;
                z-index: 5;
                margin-top: 30px;
                .festiva-title {
                    @include responsive(large-screens) {
                        position: absolute;
                        top: 8%;
                        left: 10.3%;
                    }
                    h3 {
                        position: relative;
                        width: $width-wide;
                        font-family: $font-pre-light;
                        text-align: right;
                        font-size: 20px;
                        @include responsive(large-screens) {
                            text-align: left;
                        }
                    }
                    .en {
                        display: inline-block;
                        width: $width-wide;
                        text-align: right;
                        color: #776677;
                        font-size: 14px;
                        font-family: $font-pre-light;
                        @include responsive(large-screens) {
                            text-align: left;
                        }
                    }
                }
                .festival-img-box {
                    width: 88%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    .festival-img1, .festival-img3, .festival-img4  {
                        display: none;
                        @include responsive(large-screens) {
                            display: block;
                        }
                    }
                    .festival-img2 {
                        width: 100%;
                        overflow: hidden;
                        height: 400px; /* 컨테이너 높이 지정 */
                        position: relative;
                        transition: transform 0.3s ease;
                        img {
                            width: 100%; /* 이미지 너비를 꽉 차게 지정 */
                            height: auto; /* 자동 높이 설정 */
                            cursor: grab; /* 드래그할 수 있음을 나타내는 커서 */
                            position: absolute; /* 드래그 이동을 위해 position을 absolute로 설정 */
                            top: 0; /* 초기 위치 설정 */
                        }
                        @include responsive(large-screens) {
                            margin-left: 40px;
                        }
                    }
                    @include responsive(large-screens) {
                        .festival-img2:hover img {
                            transform: translateY(-75%); /* 이미지를 위로 100%만큼 스크롤 */
                        }
                        
                        .festival-img2 img {
                            transition: transform 1.5s ease; /* 변환 애니메이션 설정 */
                        }

                        .festival-img1:hover img {
                            transform: translateY(-43%); /* 이미지를 위로 100%만큼 스크롤 */
                        }
                        .festival-img1 img {
                            transition: transform 1.5s ease; /* 변환 애니메이션 설정 */
                        }
                    }

                    @include responsive(large-screens) {
                        .festival-img1 {
                            position: absolute;
                            top: 8%;
                            left: 45%;
                            margin: 0 80px;
                            height: 700px;
                            width: 80%;
                            img {
                                width: 40%;
                            }
                        }
                        .festival-img2 {
                            width: 35%;
                            top: 14%;
                            left: 7.8%;
                            height: 500px;
                            position: absolute;
                            img {
                                width: 100%;
                            }
                        }
                       
                        .loyal-img-po {
                            position: absolute;
                            display: flex;
                            left: 70%;
                            top: 23%;
                            overflow: hidden;
                            width: 100%;
                            .festival-img3 {
                                margin-right: -330px;
                                img {
                                    width: 50%;
                                }
                            }
                            .festival-img4 {
                                
                                img {
                                    width: 48%;
                                }
                                
                            }
                        }
                    }
                }
            .festival-button {
                width: $width-wide;
                display: flex;
                justify-content: left;
                @include responsive(large-screens) {
                    position: absolute;
                    top: 73%;
                    left: 9.7%;
                    width: 46%;
                }
                #git, #website, #design-guide {
                    width: $width-wide;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 5px;
                    border: 1px solid #E78156;
                    background-color: $bg-color;
                    padding: 0 5px;
                    @include responsive(large-screens) {
                        width: 20%;
                        padding: 3px 5px;
                    }
                    p {
                        padding: 3px;
                        font-size: 12px;
                        font-family: $font-pre-light;
                    }
                    .design {
                        line-height: 1.3;
                    }
                    img {
                        width: 18%;
                    }
                    .black {
                        display: block;
                    }
                    .white {
                        display: none;
                    }
                }
                #git, #website, #design-guide {
                    cursor: pointer;
                    &:hover {
                        background-color: $color-hover;
                        p {
                            color: $color-white;
                        }
                        .black {
                            display: none;
                        }
                        .white {
                            display: block;
                        }
                    }
                }
            }
            .festival-txt {
                .time {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    p {
                        margin-left: 20px;
                    }
                }
                .together {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    p {
                        margin-left: 40px;
                    }
                }
                h4 {
                    font-size: 18px;
                    font-family: $font-pre-light;
                }
                p {
                    font-size: 16px;
                    font-family: $font-pre-light;
                }
                .tool-box {
                    display: flex;
                    .usetool {
                        display: flex;
                        margin-left: 35px;
                        .tool {
                            border: 1px solid black;
                            border-radius: 10px;
                            width: 65px;
                            text-align: center;
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                }
                .project-txt {
                    margin-top: 10px;
                }
                @include responsive(large-screens) {
                    position: absolute;
                    top: 79%;
                }
            }
        }
        .public-bg {
            position: absolute;
            opacity: 0.5;
        }
        .public-portfolio {
            height: 100vh;
            position: relative;
            margin-top: 150px;
            .public-title {
                @include responsive(large-screens) {
                    position: absolute;
                    top: 30px;
                    left: 60%;
                }
                h3 {
                    font-family: $font-pre-light;
                    font-size: 20px;
                    @include responsive(large-screens) {
                        width: $width-wide;
                        text-align: right;
                    }
                }
                .en {
                    color: #776677;
                    font-size: 14px;
                    font-family: $font-pre-light;
                    @include responsive(large-screens) {
                        display: inline-block;
                        width: $width-wide;
                        text-align: right;
                    }
                }
            }
            .public-img-box {
                width: $width-wide;
                display: flex;
                align-items: center;
                overflow: hidden;
                position: relative;
                @include responsive(large-screens) {

                }
                .public-img1 {
                    @include responsive(large-screens) {
                        width: 28%;
                        position: absolute;
                        top: 28%;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
                .public-img2 {
                    @include responsive(large-screens) {
                        position: relative;
                        margin: auto;
                        margin-top: 70px;
                        margin-bottom: 70px;
                        z-index: 5;
                        img {
                            margin: 20px 0;
                        }
                    }
                }
                .public-img3 {
                    @include responsive(large-screens) {
                        z-index: 1;
                        width: 27%;
                        position: absolute;
                        top: 0;
                        left: 70%;
                    }
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
            }
            .public-button {
                width: $width-wide;
                display: flex;
                justify-content: right;
                @include responsive(large-screens) {
                    position: absolute;
                    top: 68%;
                    left: 17.5%;
                    width: 55%;
                }
                #git, #website, #design-guide {
                    width: $width-wide;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 5px;
                    border: 1px solid #E78156;
                    background-color: $bg-color;
                    padding: 0 5px;
                    @include responsive(large-screens) {
                        width: 25%;
                        padding: 3px 5px;
                    }
                    p {
                        padding: 3px;
                        font-size: 12px;
                        font-family: $font-pre-light;
                    }
                    .design {
                        line-height: 1.3;
                    }
                    img {
                        width: 18%;
                    }
                    .black {
                        display: block;
                    }
                    .white {
                        display: none;
                    }
                }
                #git, #website, #design-guide {
                    cursor: pointer;
                    &:hover {
                        background-color: $color-hover;
                        p {
                            color: $color-white;
                        }
                        .black {
                            display: none;
                        }
                        .white {
                            display: block;
                        }
                    }
                }
            }
            .public-txt {
                .time {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    p {
                        margin-left: 20px;
                    }
                }
                .together {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    p {
                        margin-left: 40px;
                    }
                }
                h4 {
                    font-size: 18px;
                    font-family: $font-pre-light;
                }
                p {
                    font-size: 16px;
                    font-family: $font-pre-light;
                }
                .tool-box {
                    display: flex;
                    .usetool {
                        display: flex;
                        margin-left: 35px;
                        .tool {
                            border: 1px solid black;
                            border-radius: 10px;
                            width: 65px;
                            text-align: center;
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                }
                .project-txt {
                    margin-top: 10px;
                }
            }   
        }     
    }
    #contact {
        overflow: hidden;
        width: $width-wide;
        margin-top: 100px;
        position: relative;
        h2 {
            font-family: $font-en;
            font-weight: 400; 
            margin-bottom: 30px;
        }
        .contact-box {
            @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .contact-img {
                width: $width-wide;
                // .contact-top {
                //     width: $width-wide;
                //     position: absolute;
                //     img {
                //         width: $width-wide;
                //     }
                // }
                // .contact-bottom {
                //     width: $width-wide;
                //     position: absolute;
                //     img {
                //         width: $width-wide;
                //     }
                // }
                .contact-img {
                    position: relative;
                    img {
                        width: 80%;
                        margin: 0 auto;
                        @include responsive(large-screens) {
                            width: 60%;
                            margin: 0;
                        }
                    }
                }
            }
            .contact-txt {
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 50px;
                .icon-tell {
                    a {
                        font-family: $font-pre-light;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
                .icon-mail {
                    a {
                        font-family: $font-pre-light;
                        text-align: center;
                    }
                }
            }
        }   
    }
}
