@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: $bg-color;
}
.container {
    width: $width-wide;
    max-width: 1416px;
    margin: auto;
    padding: 0 32px;
    @include responsive(large-screens) {
        padding: 0 12px;
    }
}

header {
    .logo-menu-text {
        width: $width-wide;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-img {
            width: 25%;
            @include responsive(large-screens) {
                width: 7%;
            }
            img {
                width: 100%;
            }
            
        }
    }
    .menu-toggle-btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        
        span {
            width: 15%;
            margin: 0 auto;
            height: 3px;
            background-color: black;
            border-radius: 5px;
            @include responsive(large-screens) {
                width: 6%;
                gap: 20px;
            }
        }
    }
    .header-text {
        width: 25%;
        text-align: center;
        margin-right: 0;
        // background-color: #E78156;
        @include responsive(large-screens) {
            width: 10%;
        }
        a {
            font-family: $font-en;
            font-size: 10px;
            p {
                line-height: 1.2;
                font-size: 10px;
            }
        }
    }
}

main {
    #intro {
        overflow: hidden;
        width: $width-wide;
        margin-top: 200px;
        height: 100vh;
        position: relative;
    }
    
    .star1, .star2, .star3 {
        position: absolute;
    }

    
    // .contact-circle, .portfolio-circle, .aboutme-circle, .skill-circle {
    //     position: absolute;
    //     display: flex;
    //     justify-content: space-between;
    // }
    .contact-circle {
        position: absolute;
        top: 8%;
        left: 10%;
        z-index: 5;
        cursor: pointer;
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 80%;
        }
    }
    .portfolio-circle {
        position: absolute;
        top: 12%;
        left: 70%;
        z-index: 5;
        cursor: pointer;
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 80%;
        }
    }
    .aboutme-circle {
        position: absolute;
        top: 38%;
        z-index: 3;
        cursor: pointer;
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 80%;
        }
    }
    .skill-circle {
        position: absolute;
        z-index: 5;
        top: 42%;
        left: 70%;
        cursor: pointer;
        text {
            textPath {
                font-family: $font-en;
                font-weight: lighter;
                font-size: 14px;
            }
        }
        img {
            width: 80%;
        }
    }
    
    .blue_gradient img {
        position: absolute;
        width: 30%;
        top: 65%;
        left: 18%;
        z-index: 1;
    }

    .gradient {
        position: relative;
        z-index: 1;
        .gradient-red {
           position: absolute;
           top: 120px;
           left: 30px;
           width: 10px;
           img {
            width: 250px;
        }
        }
        .gradient-orange {
            position: absolute;
            top: 170px;
            left: 60px;
            z-index: 2;
            img {
                width: 300px;
            }
        }
        .gradient-yellow {
            position: absolute;
            z-index: 1;
            top: 230px;
            left: 30%;
            img {
                width: 250px;
            }
        }
    }
    
    .intro-txt {
        position: absolute;
        top: 20%;
        left: 25%;
        z-index: 5;
        h1 {
            text-align: center;
            width: 200px;
            z-index: 5;
            font-family: $font-en;
            font-weight: lighter;
        }
        #resume {
            margin-left: 30%;
            background-color: $color-black;
            color: $color-white;
            border-radius: 5px;
            padding: 5px 10px;
            margin-top: 10px;
            cursor: pointer;
            font-family: $font-en;
            font-weight: lighter;
        }
    }
      
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    text {
        font-family: Arial, sans-serif;
        font-size: 20px;
        fill: #000;
    }
    
    #aboutme {
        overflow: hidden;
        width: $width-wide;
        position: relative;
        .gradient-orange {
            img {
                width: 20%;
            }
        }
        .aboutme_txt-img {
            position: relative;
            text-align: center;
            z-index: 3;
            h2 {
                font-family: $font-en;
                font-weight: 400;
            }
            .pic {
                width: 60%;
                margin: auto;
            }
            
        }
        
        .aboutme_txt-img img {
            width: 100%;
            height: auto;
        }
        
        .curved-text {
            font-size: 24px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .curved-text text {
            fill: black;
            font-size: 24px;
        }
        .aboutme-bg {
            position: absolute;
            top: 45%;
            z-index: 1;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .aboutme-button {
            position: relative;
            z-index: 3;
            width: $width-wide;
            display: flex;
            #prof {
                width: $width-half;
                background: $bg-color;
                cursor: pointer;
                border: 2px solid black;
                border-left: 0;
                p {
                    font-size: 16px;
                }
            }
            #suit {
                width: $width-half;
                background: $bg-color;
                cursor: pointer;
                border: 2px solid black;
                border-right: 0;
                p {
                    font-size: 16px;
                }
            }
        }
    }
    
    #skill {
        overflow: hidden;
        width: $width-wide;
        margin-top: 100px;
        background-image: url(../images/skill_bg.png);
        background-size: cover;
        h2 {
            font-family: $font-en;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .mo-skill-box {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-around;
            width: $width-wide;
            div {
                width: $width-half;
                img {
                    margin: 0 auto;
                    width: 30%;
                }
                p {
                    font-family: $font-pre-regular;
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
            // .html-box, .css-box, .sass-box, .javascript-box, .jquery-box, .react-box, .git-box, .figma-box,  {
                //     margin-bottom: 40px;
                // } 
            }
        }
        
        #portfolio {
            overflow: hidden;
            width: $width-wide;
            margin-top: 100px;
            h2 {
                font-family: $font-en;
                font-weight: 400;
                margin-bottom: 30px;
            }
            .art-museum {
                .art-museum-title {
                    h3 {
                        font-family: $font-pre-light;
                        font-size: 20px;
                    }
                    .en {
                        color: #776677;
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                }
                .museum-img-box {
                    width: $width-wide
                }
                .museum-img {
                    width: $width-wide;
                    img {
                        width: $width-wide;
                        margin: 20px 0;
                    }
                }
                .museum-button {
                    width: $width-wide;
                    display: flex;
                    #git, #website, #design-guide {
                        width: 30%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px;
                        border: 1px solid #E78156;
                        background-color: $bg-color;
                        padding: 0 5px;
                        p {
                            font-size: 14px;
                            font-family: $font-pre-light;
                        }
                        img {
                            width: 18%;
                        }
                    }
                    
                }
            }
            .loyal-festival {
                margin-top: 30px;
                .festiva-title {
                    h3 {
                        font-family: $font-pre-light;
                        font-size: 20px;
                    }
                    .en {
                        color: #776677;
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                }
                .festival-img-box {
                    width: $width-wide
            }
            .festival-img {
                width: $width-wide;
                img {
                    width: $width-wide;
                    margin: 20px 0;
                }
            }
            .festival-button {
                width: $width-wide;
                display: flex;
                #git, #website, #design-guide {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px;
                    border: 1px solid #E78156;
                    background-color: $bg-color;
                    padding: 0 5px;
                    p {
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                    img {
                        width: 18%;
                    }
                }
                
            }
        }
        .public-portfolio {
            margin-top: 30px;
            .public-title {
                h3 {
                    font-family: $font-pre-light;
                    font-size: 20px;
                }
                .en {
                    color: #776677;
                    font-size: 14px;
                    font-family: $font-pre-light;
                }
            }
            .public-img-box {
                width: $width-wide
            }
            .public-img {
                width: $width-wide;
                img {
                    width: $width-wide;
                    margin: 20px 0;
                }
            }
            .public-button {
                width: $width-wide;
                display: flex;
                #git, #website, #design-guide {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px;
                    border: 1px solid #E78156;
                    background-color: $bg-color;
                    padding: 0 5px;
                    p {
                        font-size: 14px;
                        font-family: $font-pre-light;
                    }
                    img {
                        width: 18%;
                    }
                }
                
            }
        }
        
    }
    #contact {
        overflow: hidden;
        width: $width-wide;
        margin-top: 100px;
        position: relative;
        .contact-box {
            h2 {
                font-family: $font-en;
                font-weight: 400; 
                margin-bottom: 30px;
            }
            .contact-img {
                width: $width-wide;
                .contact-top {
                    width: $width-wide;
                    position: absolute;
                    img {
                        width: $width-wide;
                    }
                }
                .contact-bottom {
                    width: $width-wide;
                    position: absolute;
                    img {
                        width: $width-wide;
                    }
                }
                .contact-img {
                    position: relative;
                    img {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }
            .contact-txt {
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 50px;
                .icon-tell {
                    a {
                        font-family: $font-pre-light;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
                .icon-mail {
                    a {
                        font-family: $font-pre-light;
                        text-align: center;
                    }
                }
            }
        }
        
    }
} // main