$bg-color: #FFF5ED;
$color-white: #fff;
$color-black: #000;
$color-hover: #E78156;
$color-span: #776677;
$color-red: #E60012;

$font-en: 'Alegreya';
$font-thin: 'Pretendard-Thin';
$font-extra: 'Pretendard-ExtraLight';
$font-pre-light: 'Pretendard-Light';
$font-pre-regular: 'Pretendard-Regular';
$font-medium: 'Pretendard-Medium';
$font-semibold: 'Pretendard-SemiBold';
$font-pre-bold: 'Pretendard-Bold';
$font-extra-bold: 'Pretendard-ExtraBold';

$width-wide: 100%;
$width-half: 50%;

$break-small: 320px;
$break-large: 1024px;